@import "tailwindcss";



/* Apple-inspired clean aesthetic */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #f9f9f9, #eaeaea);
  color: #1c1c1e;
}
